<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/853f2f66-26d2-4111-930e-264d9553cd2d/resourcegroups/IoTServiceDemo/providers/Microsoft.Web/sites/IoTService2018</ResourceId>
    <ResourceGroup>IoTServiceDemo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iotservice2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iotservice2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IoTService2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IoTService2018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MeldungsModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iotservice2018dbserver.database.windows.net,1433;Initial Catalog=IoTServiceLab_db;User ID=Max@iotservice2018dbserver;Password=1@Mustermann" Name="Data Source=tcp:iotservice2018dbserver.database.windows.net,1433;Initial Catalog=IoTServiceLab_db;User Id=Max@iotservice2018dbserver;Password=1@Mustermann" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IoTService.MeldungsModel, IoTService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MeldungsModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iotservice2018dbserver.database.windows.net,1433;Initial Catalog=IoTServiceLab_db;User Id=Max@iotservice2018dbserver;Password=1@Mustermann</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>